@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="protejamos">PROTEJAMOS LOS NIÑOS</h1>
    <img class="imageninicial" src="@Url.Content("/imagenes/NIÑOS.jpg")" width="200px" height="200px" alt="">
    <img class="imageninicial" src="@Url.Content("/imagenes/2.jpg")" width="200px" height="200px" alt="">
    <img class="imageninicial" src="@Url.Content("/imagenes/3.jpg")" width="200px" height="200px" alt="">
    <img class="imageninicial" src="@Url.Content("/imagenes/4.jpg")" width="200px" height="200px" alt="">
    <img class="imageninicial" src="@Url.Content("/imagenes/6.jpg")" width="200px" height="200px" alt="">
    <p class="lead"><br>Porque innovar no solo implica alcanzar avances científicos, también significa movernos a la velocidad del mundo, conocer a su gente
    entendiendo cuáles son sus necesidades, y así saber cómo podemos aportar en su desarrollo.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>PFIZER LAB</h2>
        <p>
            La tecnología no solo está cambiando nuestra vida, está revolucionando la salud humana. Al unir tecnología transformacional
            y ciencia de vanguardia, Pfizer KIDs es pionera en innovaciones biofarmacéuticas que no solo tratan enfermedades complejas
            – sino que pueden curarlas o prevenirlas. Todos los días, Pfizer trabaja por descubrir innovaciones que cambian la vida de
            los pacientes y abren nuevos mundos de posibilidades médicas. 
        </p>
        <p><a class="btn btn-default" href="https://www.pfizer.com.co/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MISION</h2>
        <p>La misión es apoyar con el desarrollo de iniciativas locales que contribuyan a crear un ambiente de trabajo incluyente
        para todos nuestros colegas, colaboradores y aliados, sin que importe el género, raza, edad, nacionalidad, orientación sexual o condición física..</p>
        <p><a class="btn btn-default" href="https://www.pfizer.com.co/proposito">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NUESTROS VALORES</h2>
        <p>Entendiendo el “qué hacemos”, se hace necesario saber “cómo lo conseguimos”, y esto se resume en cuatro simples pero poderosos valores
        – Coraje, Excelencia, Equidad y Alegría – que definen nuestra compañía y nuestra cultura.</p>
        <p><a class="btn btn-default" href="https://www.pfizer.com.co/proposito/nuestros-valores-y-cultura">Learn more &raquo;</a></p>
    </div>
</div>