@model PfizerKidsLab.vacuna

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>vacuna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaVencimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idVacuna }) |
    @Html.ActionLink("Back to List", "Index")
</p>
